---
import Card from "./Card.astro"

import Image1 from '../assets/blog/1.jpg'
import Image2 from '../assets/blog/2.jpg'
import Image3 from '../assets/blog/3.jpg'

---
<section class="py-12 md:py-20 md:max-w-[64rem] mx-auto overflow-hidden">

  <div class="flex gap-6 px-5 overflow-x-scroll lg:overflow-x-hidden">

    <Card
      title="PWA: O que é? Vale a pena? Quando utilizar?"
      excerpt="Iniciando com controle de versão com Git e Github de forma prática"
      src={Image1.src} />

    <Card
      title="5 dicas de performance no React Native"
      excerpt="Conheça algumas estratégias para melhorar a performance dos ..."
      src={Image2.src} />

    <Card
      title="EXPO: o que é, para que serve, quando utilizar?"
      excerpt="Aprender React Native com Expo ou iniciar sem ele?"
      src={Image3.src} />

  </div>
</section>