---
const { title, excerpt, src } = Astro.props
---

<article class="w-[20rem] md:w-1/3 shrink-0 md:shrink">
  <img class="object-cover" src={src} alt="" />
  <h3 class="text-rocketseat font-bold text-xl mt-4">{title}</h3>
  <p class="text-gray-400 mt-2">{excerpt}</p>

  <footer class="flex gap-3 mt-5">
    <img 
      class="size-12 object-cover rounded-full"
      src="https://github.com/maykbrito.png">
    <div>
      <p class="text-sm text-rocketseat font-bold">Mayk Brito</p>
      <small class="text-sm text-gray-500">CCO @Rocketseat</small>
    </div>
  </footer>
</article>