---
import { Image } from 'astro:assets'
import HeroImage from '../assets/hero-img.svg'
---

<section class="mt-12 px-5">
  <div class="mx-auto max-w-[53.75rem] text-center grid justify-center justify-items-center gap-5 md:grid-cols-2 md:text-left md:items-center">
  <div class="max-w-[31.25rem]">
      <h1 class="text-4xl text-rocketseat font-bold">Acelere sua evolução como programador</h1>
      <p class="text-gray-500 mt-2 leading-8 max-w-[25rem]">
        Mais do que uma plataforma de <strong>educação</strong> em tecnologia, somos uma <strong>comunidade</strong> incrível de programadores em busca do próximo nível.
      </p>
    </div>

    <Image src={HeroImage} alt=""/>
  </div>
</section>